<!DOCTYPE html>
<html>
  <head>
    <style>
h1{
  margin-left:100px;
  margin-top:100px}
    </style>
  </head>

  <body>
    <% @array.each do |status| %>

      <h1><a href="/result?<%=status %>"><%=status.match(/-(.*?)-/)[1] %></a></h1>

    <% end %>
  </body>

</html>


