<!DOCTYPE html>
<html>
  <head>
    <style>
h1{
  }
    </style>
  </head>

  <body>
    <h1>Search Results </h1>
    <% @array.each_with_index do |status, index| %>
      <p><%=index+1%>: <a href="/result?<%=status %>"><%=status.match(/-(.*?)-/)[1] %></a></p>
    <% end %>
  </body>

</html>


