

<!DOCTYPE html>
<html>
<head>
<style>
h1{
color:green;
font-size: 100px;
font-family: lato;
margin-left:500px;
margin-top:200px;
}
input[type=text]
{
margin-left:350px;
 border: 1px solid #ccc;
 padding: 12px 20px;
  
}

</style>
</head>
<body>
   
<h1>Google</h1>
<form action="/home_page" method="post">
 <input type="text" class="input-lg" size=100 placeholder="Search" name="query"  required>
  <!--<button type="button"  class="searchbtn">Search</button>-->
  <input type="submit" value="Search">
  
 


  </form>

</body>
</html>
